Content/Movies/credits_v1_75sec.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
Content/Movies/MD_Credits_v1.2.mp4 filter=lfs diff=lfs merge=lfs -text
Content/Movies/MD_OpeningScene_v0.3.mp4 filter=lfs diff=lfs merge=lfs -text
Content/Movies/Intro[[:space:]]Cutscene[[:space:]]Placeholder[[:space:]]Version.mp4 filter=lfs diff=lfs merge=lfs -text
